<!DOCTYPE html>
<html lang="en">
<head>
<!-- 引入meta部分文件内容 -->
@@include('include/_meta.html')
    
<link rel="stylesheet" type="text/css" href="../css/components.css">
<!-- build:remove -->
<link rel="stylesheet" type="text/css" href="../css/common.css">
<!-- endbuild -->
<!-- inject:style:css -->
<!-- endinject -->

<!-- 引入解决兼容性问题的js -->
@@include('include/_compatibility.html')

</head>
<body>
<p>空白的模板文件</p>
</body>

<script type="text/javascript" src="../vendors/jquery.js"></script>
<script type="text/javascript" src="../vendors/layer/layer.js"></script>
<script type="text/javascript" src="../vendors/layer/laypage.js"></script>
<script type="text/javascript" src="../vendors/jquery.validate.js"></script>
<script type="text/javascript" src="../vendors/validate-methods.js"></script>
<script type="text/javascript" src="../vendors/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../vendors/messages_zh.js"></script>
<script type="text/javascript" src="../vendors/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="../vendors/h-ui.admin/js/H-ui.admin.js"></script>

<script type='text/javascript' src='../js/common.js'></script>
<script type='text/javascript' src='../js/home.js'></script>
</html>