@import url(variable.less);

/**
 * 适应不同屏幕尺寸
 */
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
  
} 

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

} 

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

} 

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

body {
  font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑","tahoma","arial","simsun","宋体";
  font-size: 14px;
  line-height: 1.42857143;
  color: @text-6;
}

/* 页头-start */
.navbar-wrapper{  
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.1) 50%, rgba(0,0,0,0) 100%);
  .navbar{
    margin-top: 20px;
    border-radius: 4px;
    .navbar-brand{
      color: @white;
    }
    .navbar-nav{
      float: right;
      &>li{
        &.active{
          a{
            background-color: rgba(200,200,200,.3);
          } 
        }
        &.open{
          &>a{
            background-color: rgba(200,200,200,.3);
          }          
        }
        &>a{
          &:hover{
            background-color: rgba(200,200,200,.3);
          }
          &:focus{
            background-color: rgba(200,200,200,.3);
          }
          color: @white;
        }
      }
      .dropdown-menu{
        background-color: rgba(200,200,200,.3);
        border: 0;
        &>li{
          &>a{
            &:hover{
              background-color: rgba(200,200,200,.3);
            }
            color: @white;
          }
        }
      }
    }
  }
}
.carousel { 
  .carousel-inner{
    .item{
      max-height: 100vh;
      width: auto;
    }
    .slide01{
      background: transparent url("../images/bg_01.jpg") no-repeat;
      background-size: cover;
    }
    .slide02{
      background: transparent url("../images/bg_02.jpg") no-repeat;
      background-size: cover;
    }
    .slide03{
      background: transparent url("../images/bg_03.jpg") no-repeat;
      background-size: cover;
    }
  }
  .carousel-control{
    display: flex;
    justify-content: center;
    align-items: center;
    .fa{
      display: inline-block;
    }
  }
}
.content-wrap{
  .row{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .content-head{
    text-align: center;
    h2{
      margin: 15px 0;
    }
    p{
      text-align: left;
    }
    .content-btn-wrap{
      margin: 15px 0;
      text-align: center;
    }
  }
  .img-circle{
    background-color: @grey;
  }
  .feature{
    .feature-heading{
      margin: 15px 0;
    }
    .feature-right{
      text-align: right;
    }
  }
  .featurette-divider{
    border-top: 1px solid #eee;
  }
}
footer{
  background-color: @black;
  text-align: center;
  color: @text-9;
  padding: 10px 0;
}
/* 页头-end */

/* 侧边栏-start */

/* 侧边栏-end */

/* 页面主体-end */

/* 页面主体-end */


