/**
 * 颜色
 */
@head-bg: #18242b;
@aside-bg: #2b3541;
@nav-bg: #f9be29;
@btn-bg-grey: #697c8a;
@btn-bg-blue: #379aff;
@btn-bg-red: #e60012;
@font-red: #e0483e;
@font-green: #009944;
@label-color1: #ffb791;
@label-color2: #f9be29;
@label-color3: #ffa14f;
@label-color4: #ed764e;
@label-color5: #66ced1;
@txt-color: #ffffff;
@list-bg: #434a54;
@section-bg: #f5f4f9;
@white: #ffffff;
@lightWhite: #f5f5f5;
@grey: #cccccc;
@border-color: #dddddd;
@grey-f1: #f1f1f1;
@form-bg: #f3f4f4;
@text-3: #333333;
@text-6: #666666;
@text-9: #999999;
@card-1: #ffb791;
@card-2: #f9be29;
@card-3: #ffa14f;
@card-4: #ed764e;
@card-5: #66ced1;
