<aside class="Hui-aside">
        <div class="menu_dropdown bk_2">
            <dl id="menu-apply">
                <dt>
                    <img class="menu-icon" src="static/h-ui.admin/images/mtl-apply.png" alt="">
                    <div class="menu-name">物资申请流程</div>
                </dt>
                <dd>
                    <ul>
                        <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">资讯管理</a></li>
                    </ul>
                </dd>
            </dl>
            <dl id="menu-search">
                <dt>
                    <img class="menu-icon" src="static/h-ui.admin/images/mtl-search.png" alt="">
                    <div class="menu-name">统计查询</div>
                </dt>
                <dd>
                    <ul>
                        <li><a data-href="picture-list.html" data-title="图片管理" href="javascript:void(0)">图片管理</a></li>
                    </ul>
                </dd>
            </dl>
            <dl id="menu-store">
                <dt>
                    <img class="menu-icon" src="static/h-ui.admin/images/mtl-store.png" alt="">
                    <div class="menu-name">出入库</div>
                </dt>
                <dd>
                    <ul>
                        <li><a data-href="product-brand.html" data-title="品牌管理" href="javascript:void(0)">品牌管理</a></li>
                        <li><a data-href="product-category.html" data-title="分类管理" href="javascript:void(0)">分类管理</a></li>
                        <li><a data-href="product-list.html" data-title="产品管理" href="javascript:void(0)">产品管理</a></li>
                    </ul>
                </dd>
            </dl>
            <dl id="menu-system">
                <dt>
                    <img class="menu-icon" src="static/h-ui.admin/images/mtl-system.png" alt="">
                    <div class="menu-name">系统管理</div>
                </dt>
                <dd>
                    <ul>
                        <li><a data-href="http://h-ui.duoshuo.com/admin/" data-title="评论列表" href="javascript:;">评论列表</a></li>
                        <li><a data-href="feedback-list.html" data-title="意见反馈" href="javascript:void(0)">意见反馈</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </aside>